<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JspServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>net.qlbh.controller.user.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/admin/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>net.qlbh.controller.user.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/admin/ListUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>net.qlbh.controller.user.EditUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/admin/EditUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>net.qlbh.controller.user.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/admin/DeleteUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>net.qlbh.controller.user.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserProduct</servlet-name>
    <servlet-class>net.qlbh.controller.user.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserProduct</servlet-name>
    <url-pattern>/admin/AddUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListProductController</servlet-name>
    <servlet-class>net.qlbh.controller.product.ListProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProductController</servlet-name>
    <url-pattern>/admin/ListProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>net.qlbh.controller.product.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/admin/AddProduct.do</url-pattern>
  </servlet-mapping>
</web-app>